################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SampleUserAdd/.vs/SampleUserAdd
/SampleUserAdd/SampleUserAdd/obj
/SampleUserAdd/SampleUserAdd/bin/Debug/net6.0
